@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap');
/* font-family: 'Playfair Display', serif; */

/* font-family: 'Poppins', sans-serif; */
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: 'Poppins', serif;
}

.home {
  padding: 2% 4%;
}
.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  width: 100%;
  min-height: 80vh;
  padding-block: var(--section-padding);
  display: flex;
}

.hero .container { width: 100%; }
.hero-content{
  margin-top: 100px;
  margin-left: 190px;
}
.hero-subtitle {
  color: var(--eerie-black);
  font-size: var(--fs-4);
  font-weight: var(--fw-600);
  margin-bottom: 20px;
}

.hero-title {
  margin-bottom: 35px;
  max-width: 12ch;
}
/* navbar */
.navbar {
  background: white !important;
  padding:1.5% 1% !important;
  font-family: 'Poppins', serif;
  font-size: 17px;
  font-weight: 450;
  line-height: 26px;
  text-transform: uppercase;

}


.nav-btm {
  border-bottom: 1px solid rgb(231, 222, 222) !important;
}

.nav-link {
  font-weight: 300 !important;
}

.active {
  border-bottom: 1px solid black;
}

.navbar-brand {
  font-family: roboto, sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  ;
}

.search {
  margin-left: 4px;
}

.success {
  color: #006d58 !important;
  background:#fff !important;
  border-color: #04AA6D !important;
}
/* footer */


/* page not found */
.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading {
  font-weight: normal;
}

.pnf-button {
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}

.product-link {
  text-decoration: none !important;
  color: #000000 !important;
}


.foot .container-fluid {
  font-family: 'Poppins', serif;
  font-size: 15px;
  overflow: hidden;
  margin-top: 50px;
  background: #006d58;
  color: #bfb8b8!important;
  margin-bottom: 0;
  padding-bottom: 0;
}

.foot small {
  font-size: 16px !important;
}

.foot .bold-text {
  color: #ebebeb !important;
}


.foot .mt-55 {
  margin-top: 16px !important;
}


.foot .h3 {
  font-size: 20px !important;
}

.foot .social {
  font-size: 21px !important;
}

.foot .rights {
  font-size: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important;
}
.btn {
  color: #fff;
  background: #006d58;
  
}

.btn:hover {
  background: #048067;
  color: #fff;
  text-decoration: none;
}
/* card */
.container-card{

  min-height:50vh;
  display:flex;
  justify-content:center;
  align-items:center;
}
.card{
  height:360px;
  width:310px;
  box-shadow:0px 15px 30px rgba(0,0,0,0.1);
  background-color:#fff;
  border-radius:10px;
  font-family: 'Poppins', sans-serif;
  overflow:hidden;
  position:relative;
  cursor:pointer;
}
.card:hover .heart{
  top:10px;
}
.heart{
  z-index:1;
  position:absolute;
  top:-60px;
  right:10px;
  transition:all 0.5s;
}
.heart i{
  font-size:22px;
  color:#048067;
}

.heart-red{
 color:red !important;
} 
.top-div{
  display:flex;
  justify-content:center;
  align-items:center;
  position:relative;
}
.top-div .border{
  width:100%;
  height:200px;
}
.top-div img{
 width:100%;
 height:100%;
 object-fit:cover
}
.top-div span{
  height:28px;
  width:60px;
  background-color:#048067;
  color:#fff;
  position:absolute;
  top:185px;
  left:20px;
  border-radius:4px;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:15px;
}
.bottom-div{
  display:flex;
  flex-direction:column;
  padding:20px;
}
.bottom-div p{
  font-size:13px;
  color:#A89495;
}
.last-section{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:0px 20px;
}
.fa-shopping-cart{
  font-size:25px;
  color:#048067;
}
.cart{
  margin-inline: 1px;
}
.fa-comment-dots{
   font-size:25px;
  color:#048067;
  margin-left:10px;
}

.buttons button{
  height:30px;
  width:100px;
  padding:2px 5px;
  color:#048067;
  border:2px solid #048067;
  background-color:#fff;
  font-size:13px;
  border-radius:7px;
  transition:all 0.5s;
}
.buttons:hover button{
  color:white;
  background-color:#048067;

}
.filter{
  font-family: 'Poppins', serif;
  font-size: 17px;
  padding:20px 30px;
  border:0.5px solid rgba(0,0,0,0.1);
  border-radius:7px;
  line-height: 26px;
  transition:all 0.5s;
}
.hr-text{
  border-bottom: 0.5px solid #e4e0e0;
  width: 70%;
  margin: 10px  auto;
  margin-bottom: 15px;
  
}
.radio{
  margin: 3px 0 ;
  accent-color: #048067;
}
input[type='radio'] {
  accent-color: #232323 !important;
}

.btn-github {
  margin-top: 10px;
  width: 30% ;
  cursor: pointer;
  display: flex;
  border: none;

  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-backdrop-filter: blur(32px);
  backdrop-filter: blur(32px);
  border-radius: 100px;
  font-weight: 800;
  place-content: center;

  padding: 0.75rem 1rem;
  font-size: 0.825rem;
  line-height: 1rem;

  background-color: rgba(255, 255, 255, 0.08);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.04),
    inset 0 0 0 1px rgba(255, 255, 255, 0.04);
  color: #fff;
}

.btn-github:hover {
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.08),
    inset 0 0 0 1px rgba(252, 232, 3, 0.08);
  color: #fce803;
  transform: translate(0, -0.25rem);
  background-color: rgba(255, 255, 255, 0.16);
}

@media (max-width: 768px) {
  .hero-content {
    margin-top: 60px;
    margin-left: 50px;
  }
}
